<!doctype html>
<html lang="ru">
  <head><%- include("partials/head", { title }) %></head>
  <body class="app-body">
    <%- include("partials/nav") %>
    <%- include("partials/flash") %>
    <main class="container my-4">
      <%- body %>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
